In [1]:
import pandas as pd

In [2]:
amazon = pd.read_csv("amazon.csv")

In [3]:
amazon

,Name,Author,User Rating,Reviews,Price,Price_r,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,$8.00,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,$22.00,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,$15.00,15,2018,Non Fiction
3,1984,George Orwell,4.7,70425,$7.48,8,2021,Fiction
4,1984 (Signet Classics),George Orwell,4.7,21424,$6.00,6,2017,Fiction
...,...,...,...,...,...,...,...,...
645,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,$8.00,8,2019,Fiction
646,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,$8.00,8,2016,Non Fiction
647,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,$8.00,8,2017,Non Fiction
648,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,$8.00,8,2018,Non Fiction
649,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,$8.00,8,2019,Non Fiction

## Preguntas

Por año cuantos libros ha publicado un autor, recuerde que los años no trabajados deberia de aparecer en cero. considere como primer registro por autor el primer año en que publico y el ultimo el año maximo encontrado.

Ejemplo, si Uayeb public en 2009 dos libros, y en 2011 tres. y esas son las dos unicas entradas para este autor. la salida para el deberia de ser:

In [30]:
pd.DataFrame({ "Autor" : ["Uayeb","Uayeb","Uayeb"] , "Year" : [2009,2010,2011]  , "Conteo" : [2,0,3] })

   Autor  Year  Conteo
0  Uayeb  2009       2
1  Uayeb  2010       0
2  Uayeb  2011       3

In [4]:
amazon.loc[:,["Author", "Year"]]

                 Author  Year
0              JJ Smith  2016
1          Stephen King  2011
2    Jordan B. Peterson  2018
3         George Orwell  2021
4         George Orwell  2017
..                  ...   ...
645         Jeff Kinney  2019
646         Jen Sincero  2016
647         Jen Sincero  2017
648         Jen Sincero  2018
649         Jen Sincero  2019

[650 rows x 2 columns]

In [112]:
cont09=amazon.loc[amazon["Year"] == 2009, ["Author"]].groupby("Author",as_index=False).value_counts()

In [140]:
cont09.columns = ["Author", "cont09"]

In [119]:
cont10=amazon.loc[amazon["Year"] == 2010, ["Author"]].groupby("Author",as_index=False).value_counts()

In [142]:
cont10.columns = ["Author", "cont10"]

In [122]:
cont11=amazon.loc[amazon["Year"] == 2011, ["Author"]].groupby("Author",as_index=False).value_counts()

In [144]:
cont11.columns = ["Author", "cont11"]

In [123]:
cont12=amazon.loc[amazon["Year"] == 2012, ["Author"]].groupby("Author",as_index=False).value_counts()

In [145]:
cont12.columns = ["Author", "cont12"]

In [124]:
cont13=amazon.loc[amazon["Year"] == 2013, ["Author"]].groupby("Author",as_index=False).value_counts()

In [146]:
cont13.columns = ["Author", "cont13"]

In [125]:
cont14=amazon.loc[amazon["Year"] == 2014, ["Author"]].groupby("Author",as_index=False).value_counts()

In [147]:
cont14.columns = ["Author", "cont14"]

In [126]:
cont15=amazon.loc[amazon["Year"] == 2015, ["Author"]].groupby("Author",as_index=False).value_counts()

In [148]:
cont15.columns = ["Author", "cont15"]

In [127]:
cont16=amazon.loc[amazon["Year"] == 2016, ["Author"]].groupby("Author",as_index=False).value_counts()

In [149]:
cont16.columns = ["Author", "cont16"]

In [128]:
cont17=amazon.loc[amazon["Year"] == 2017, ["Author"]].groupby("Author",as_index=False).value_counts()

In [150]:
cont17.columns = ["Author", "cont17"]

In [129]:
cont18=amazon.loc[amazon["Year"] == 2018, ["Author"]].groupby("Author",as_index=False).value_counts()

In [151]:
cont18.columns = ["Author", "cont18"]

In [130]:
cont19=amazon.loc[amazon["Year"] == 2019, ["Author"]].groupby("Author",as_index=False).value_counts()

In [152]:
cont19.columns = ["Author", "cont19"]

In [131]:
cont20=amazon.loc[amazon["Year"] == 2020, ["Author"]].groupby("Author",as_index=False).value_counts()

In [153]:
cont20.columns = ["Author", "cont20"]

In [132]:
cont21=amazon.loc[amazon["Year"] == 2021, ["Author"]].groupby("Author",as_index=False).value_counts()

In [154]:
cont21.columns = ["Author", "cont21"]

In [161]:
amazon_t = amazon.merge(cont09, on=["Author"],how="left").merge(cont10, on=["Author"],how="left").merge(cont11, on=["Author"],how="left").merge(cont12, on=["Author"],how="left").merge(cont13, on=["Author"],how="left").merge(cont14, on=["Author"],how="left").merge(cont15, on=["Author"],how="left").merge(cont16, on=["Author"],how="left").merge(cont17, on=["Author"],how="left").merge(cont18, on=["Author"],how="left").merge(cont19, on=["Author"],how="left").merge(cont20, on=["Author"],how="left").merge(cont21, on=["Author"],how="left").copy()

In [262]:
amazon_t.loc[:,["Author","cont09","cont10","cont11","cont12","cont13","cont14","cont15","cont16","cont17","cont18","cont19","cont20","cont21"]].groupby("Author",as_index=False).count()

,Author,cont09,cont10,cont11,cont12,cont13,cont14,cont15,cont16,cont17,cont18,cont19,cont20,cont21
0,Abraham Verghese,0,2,2,0,0,0,0,0,0,0,0,0,0
1,Adam Gasiewski,0,0,0,0,0,0,0,0,1,0,0,0,0
2,Adam Mansbach,0,0,1,0,0,0,0,0,0,0,0,0,0
3,Adam Silvera,0,0,0,0,0,0,0,0,0,0,0,0,1
4,Adam Wallace,0,0,0,0,0,0,0,0,0,0,0,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,William P. Young,2,0,0,0,0,0,0,0,2,0,0,0,0
288,Wizards RPG Team,0,0,0,0,0,0,0,0,3,3,3,0,0
289,Wonder House Books,0,0,0,0,0,0,0,0,0,0,0,0,1
290,Workman Publishing,0,0,0,0,0,0,0,0,0,0,0,3,3
291,Zhi Gang Sha,2,0,0,0,2,0,0,0,0,0,0,0,0

Que Autores han trabado en un año en mas de un libro

Ejemplo de salida esperada:

In [23]:
pd.DataFrame({
    
    "Autor" : ['Uayeb','Imix']
    , "Year" : [2010, 2010]
    , "Conteo de Titulos" : [2 , 3]
    
})

   Autor  Year  Conteo de Titulos
0  Uayeb  2010                  2
1   Imix  2010                  3

In [183]:
contl09=amazon.loc[amazon["Year"] == 2009, ["Name","Author"]].groupby("Author",as_index=False).value_counts()
tit09 = contl09.loc[:,["Author"]].groupby("Author",as_index=False).value_counts()
tit09.columns = ["Author", "tit09"]

In [187]:
contl10=amazon.loc[amazon["Year"] == 2010, ["Name","Author"]].groupby("Author",as_index=False).value_counts()
tit10= contl10.loc[:,["Author"]].groupby("Author",as_index=False).value_counts()
tit10.columns = ["Author", "tit10"]

In [189]:
contl11=amazon.loc[amazon["Year"] == 2011, ["Name","Author"]].groupby("Author",as_index=False).value_counts()
tit11= contl11.loc[:,["Author"]].groupby("Author",as_index=False).value_counts()
tit11.columns = ["Author", "tit11"]

In [190]:
contl12=amazon.loc[amazon["Year"] == 2012, ["Name","Author"]].groupby("Author",as_index=False).value_counts()
tit12= contl12.loc[:,["Author"]].groupby("Author",as_index=False).value_counts()
tit12.columns = ["Author", "tit12"]

In [200]:
contl13=amazon.loc[amazon["Year"] == 2013, ["Name","Author"]].groupby("Author",as_index=False).value_counts()
tit13= contl13.loc[:,["Author"]].groupby("Author",as_index=False).value_counts()
tit13.columns = ["Author", "tit13"]

In [199]:
contl14=amazon.loc[amazon["Year"] == 2014, ["Name","Author"]].groupby("Author",as_index=False).value_counts()
tit14= contl14.loc[:,["Author"]].groupby("Author",as_index=False).value_counts()
tit14.columns = ["Author", "tit14"]

In [198]:
contl15=amazon.loc[amazon["Year"] == 2015, ["Name","Author"]].groupby("Author",as_index=False).value_counts()
tit15= contl15.loc[:,["Author"]].groupby("Author",as_index=False).value_counts()
tit15.columns = ["Author", "tit15"]

In [197]:
contl16=amazon.loc[amazon["Year"] == 2016, ["Name","Author"]].groupby("Author",as_index=False).value_counts()
tit16= contl16.loc[:,["Author"]].groupby("Author",as_index=False).value_counts()
tit16.columns = ["Author", "tit16"]

In [196]:
contl17=amazon.loc[amazon["Year"] == 2017, ["Name","Author"]].groupby("Author",as_index=False).value_counts()
tit17= contl17.loc[:,["Author"]].groupby("Author",as_index=False).value_counts()
tit17.columns = ["Author", "tit17"]

In [195]:
contl18=amazon.loc[amazon["Year"] == 2018, ["Name","Author"]].groupby("Author",as_index=False).value_counts()
tit18= contl18.loc[:,["Author"]].groupby("Author",as_index=False).value_counts()
tit18.columns = ["Author", "tit18"]

In [194]:
contl19=amazon.loc[amazon["Year"] == 2019, ["Name","Author"]].groupby("Author",as_index=False).value_counts()
tit19= contl19.loc[:,["Author"]].groupby("Author",as_index=False).value_counts()
tit19.columns = ["Author", "tit19"]

In [193]:
contl20=amazon.loc[amazon["Year"] == 2020, ["Name","Author"]].groupby("Author",as_index=False).value_counts()
tit20= contl20.loc[:,["Author"]].groupby("Author",as_index=False).value_counts()
tit20.columns = ["Author", "tit20"]

In [192]:
contl21=amazon.loc[amazon["Year"] == 2021, ["Name","Author"]].groupby("Author",as_index=False).value_counts()
tit21= contl21.loc[:,["Author"]].groupby("Author",as_index=False).value_counts()
tit21.columns = ["Author", "tit21"]

In [201]:
amazon_l = amazon.merge(tit09, on=["Author"],how="left").merge(tit10, on=["Author"],how="left").merge(tit11, on=["Author"],how="left").merge(tit12, on=["Author"],how="left").merge(tit13, on=["Author"],how="left").merge(tit14, on=["Author"],how="left").merge(tit15, on=["Author"],how="left").merge(tit16, on=["Author"],how="left").merge(tit17, on=["Author"],how="left").merge(tit18, on=["Author"],how="left").merge(tit19, on=["Author"],how="left").merge(tit20, on=["Author"],how="left").merge(tit21, on=["Author"],how="left").copy()

In [261]:
amazon_l.loc[:,["Author","tit09","tit10","tit11","tit12","tit13","tit14","tit15","tit16","tit17","tit18","tit19","tit20","tit21"]].groupby("Author",as_index=False).count()

,Author,tit09,tit10,tit11,tit12,tit13,tit14,tit15,tit16,tit17,tit18,tit19,tit20,tit21
0,Abraham Verghese,0,2,2,0,0,0,0,0,0,0,0,0,0
1,Adam Gasiewski,0,0,0,0,0,0,0,0,1,0,0,0,0
2,Adam Mansbach,0,0,1,0,0,0,0,0,0,0,0,0,0
3,Adam Silvera,0,0,0,0,0,0,0,0,0,0,0,0,1
4,Adam Wallace,0,0,0,0,0,0,0,0,0,0,0,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,William P. Young,2,0,0,0,0,0,0,0,2,0,0,0,0
288,Wizards RPG Team,0,0,0,0,0,0,0,0,3,3,3,0,0
289,Wonder House Books,0,0,0,0,0,0,0,0,0,0,0,0,1
290,Workman Publishing,0,0,0,0,0,0,0,0,0,0,0,3,3
291,Zhi Gang Sha,2,0,0,0,2,0,0,0,0,0,0,0,0

Que genero por año ha obtenido el mejor rating en promedio. (solo deberia de obtener un registro por año)

- ejemplo de la salida esperada:

In [22]:
pd.DataFrame({
    "Year" : [2009,2010]
    , "Genre" : [ "Fiction" , "Fiction" ]
    , "Mean User Rating": [ 4.59 , 4.61 ]
})

   Year    Genre  Mean User Rating
0  2009  Fiction              4.59
1  2010  Fiction              4.61

In [230]:
prom21= amazon.loc[amazon["Year"] == 2021,["Genre","User Rating"]].groupby("Genre",as_index=False).mean()
prom21.columns = ["Genre", "Mean21"]

In [231]:
prom20= amazon.loc[amazon["Year"] == 2020,["Genre","User Rating"]].groupby("Genre",as_index=False).mean()
prom20.columns = ["Genre", "Mean20"]

In [232]:
prom19= amazon.loc[amazon["Year"] == 2019,["Genre","User Rating"]].groupby("Genre",as_index=False).mean()
prom19.columns = ["Genre", "Mean19"]

In [233]:
prom18= amazon.loc[amazon["Year"] == 2018,["Genre","User Rating"]].groupby("Genre",as_index=False).mean()
prom18.columns = ["Genre", "Mean18"]

In [234]:
prom17= amazon.loc[amazon["Year"] == 2017,["Genre","User Rating"]].groupby("Genre",as_index=False).mean()
prom17.columns = ["Genre", "Mean17"]

In [235]:
prom16= amazon.loc[amazon["Year"] == 2016,["Genre","User Rating"]].groupby("Genre",as_index=False).mean()
prom16.columns = ["Genre", "Mean16"]

In [236]:
prom15= amazon.loc[amazon["Year"] == 2015,["Genre","User Rating"]].groupby("Genre",as_index=False).mean()
prom15.columns = ["Genre", "Mean15"]

In [237]:
prom14= amazon.loc[amazon["Year"] == 2014,["Genre","User Rating"]].groupby("Genre",as_index=False).mean()
prom14.columns = ["Genre", "Mean14"]

In [238]:
prom13= amazon.loc[amazon["Year"] == 2013,["Genre","User Rating"]].groupby("Genre",as_index=False).mean()
prom13.columns = ["Genre", "Mean13"]

In [239]:
prom12= amazon.loc[amazon["Year"] == 2012,["Genre","User Rating"]].groupby("Genre",as_index=False).mean()
prom12.columns = ["Genre", "Mean12"]

In [240]:
prom11= amazon.loc[amazon["Year"] == 2011,["Genre","User Rating"]].groupby("Genre",as_index=False).mean()
prom11.columns = ["Genre", "Mean11"]

In [241]:
prom10= amazon.loc[amazon["Year"] == 2010,["Genre","User Rating"]].groupby("Genre",as_index=False).mean()
prom10.columns = ["Genre", "Mean10"]

In [267]:
prom09= amazon.loc[amazon["Year"] == 2009,["Genre","User Rating"]].groupby("Genre",as_index=False).mean()
prom09.columns = ["Genre", "Mean09"]

In [254]:
amazon_p = amazon.merge(prom09, on="Genre",how="left").merge(prom10, on="Genre",how="left").merge(prom11, on="Genre",how="left").merge(prom12, on="Genre",how="left").merge(prom13, on="Genre",how="left").merge(prom14, on="Genre",how="left").merge(prom15, on="Genre",how="left").merge(prom16, on="Genre",how="left").merge(prom17, on="Genre",how="left").merge(prom18, on="Genre",how="left").merge(prom19, on="Genre",how="left").merge(prom20, on="Genre",how="left").merge(prom21, on="Genre",how="left").copy()

In [265]:
amazon_p.loc[:,["Genre","Mean09","Mean10","Mean11","Mean12","Mean13","Mean14","Mean15","Mean16","Mean17","Mean18","Mean19","Mean20","Mean21"]].groupby("Genre",as_index=False).mean()

,Genre,Mean09,Mean10,Mean11,Mean12,Mean13,Mean14,Mean15,Mean16,Mean17,Mean18,Mean19,Mean20,Mean21
0,Fiction,4.591667,4.615,4.619048,4.495238,4.545833,4.631034,4.652941,4.715789,4.737500,4.738095,4.820000,4.713043,4.716667
1,Non Fiction,4.576923,4.520,4.513793,4.558621,4.561538,4.609524,4.645455,4.654839,4.588462,4.617241,4.686667,4.737037,4.746154

Cuales son los autores que por lo menos dos años consecutivos hayan tenido en promedio ratings que decrecen 

Ejemplo

- Si Uayeb caballero, en 2010 saco dos libros, y el rating de esos dos libros es de 3.1, ese mismo autor en 2011 en su unico libro publicado ese año su promedio fue de 2.9 y en 2012 sus tres libros publicados en promedio su rating es de 2.8. Podemos ver que son dos años que este usuario ha ido decreciendo 

No importa que haya publicado en años salteados, ejemplo, 2010 si, 2011 no, 2012 no, 2013 si, 2014 si. para este caso el analisis comienza en 2010, 2013 y 2014

Ejemplo de salida esperada:

In [24]:
pd.DataFrame({ "autores" : ['Uayeb','Imix'] })

  autores
0   Uayeb
1    Imix

In [391]:
rt1 = amazon.loc[amazon["Year"]==2009,["Year","Author","User Rating"]].groupby("Author",as_index=False).value_counts()
rt1.columns = ["Year","Author","UR1","Count"]
rt1

                                  Year  Author  UR1  Count
0                           Alan Moore    2009  4.8      1
1   American Psychological Association    2009  4.5      1
2                   Audrey Niffenegger    2009  4.4      1
3                         Bill Simmons    2009  4.7      1
4                     Charlaine Harris    2009  4.6      1
5                     Charlaine Harris    2009  4.7      1
6                            Dan Brown    2009  4.2      1
7                      David Zinczenko    2009  4.3      1
8                      David Zinczenko    2009  4.5      1
9                    Edward M. Kennedy    2009  4.5      1
10                    Elizabeth Strout    2009  4.2      1
11                        Francis Chan    2009  4.7      1
12                              Gallup    2009  4.0      1
13                        Gary Chapman    2009  4.6      1
14                          Glenn Beck    2009  4.6      2
15                      Greg Mortenson    2009  4.3      1
16                     James Patterson    2009  4.6      1
17                         Jeff Kinney    2009  4.8      2
18                         Jim Collins    2009  4.5      1
19                         Julia Child    2009  4.8      1
20                    Kathryn Stockett    2009  4.8      1
21                    Malcolm Gladwell    2009  4.6      1
22                    Malcolm Gladwell    2009  4.4      1
23                       Mark R. Levin    2009  4.8      1
24                    Mary Ann Shaffer    2009  4.7      1
25                      Maurice Sendak    2009  4.8      1
26                         Mitch Albom    2009  4.8      1
27                      Muriel Barbery    2009  4.0      1
28                    Patrick Lencioni    2009  4.6      1
29                        Randy Pausch    2009  4.7      1
30                        Rick Riordan    2009  4.8      1
31                         Sarah Palin    2009  4.6      1
32                    Stephen Kendrick    2009  4.8      1
33                        Stephen King    2009  4.3      1
34                    Stephen R. Covey    2009  4.6      1
35                     Stephenie Meyer    2009  4.7      4
36                     Stephenie Meyer    2009  4.6      2
37                        Steve Harvey    2009  4.6      1
38                    Steven D. Levitt    2009  4.5      1
39                       Stieg Larsson    2009  4.4      1
40                       Stieg Larsson    2009  4.7      1
41                    W. Cleon Skousen    2009  4.8      1
42                    William P. Young    2009  4.6      1
43                        Zhi Gang Sha    2009  4.6      1

In [392]:
rt2 = amazon.loc[amazon["Year"]==2010,["Year","Author","User Rating"]].groupby("Author",as_index=False).value_counts()
rt2.columns = ["Year","Author","UR2","Count"]
rt2

                                  Year  Author  UR2  Count
0                     Abraham Verghese    2010  4.6      1
1   American Psychological Association    2010  4.5      1
2                     Charlaine Harris    2010  4.3      1
3                           Chip Heath    2010  4.6      1
4                         Chris Cleave    2010  4.1      1
5                       Daniel H. Pink    2010  4.5      1
6                          David Platt    2010  4.7      1
7                           Doug Lemov    2010  4.4      1
8                          F. A. Hayek    2010  4.6      1
9                         Francis Chan    2010  4.7      1
10                              Gallup    2010  4.0      1
11                         Garth Stein    2010  4.7      1
12                        Gary Chapman    2010  4.7      1
13                         Geneen Roth    2010  4.2      1
14                      George W. Bush    2010  4.6      1
15                          Glenn Beck    2010  4.5      1
16                      Greg Mortenson    2010  4.3      1
17                          Ina Garten    2010  4.7      1
18                         Jeff Kinney    2010  4.8      1
19                         Jim Collins    2010  4.5      1
20                        John Grisham    2010  4.3      1
21                      John Heilemann    2010  4.4      1
22                         Jon Stewart    2010  4.4      1
23                      Justin Halpern    2010  4.7      1
24                    Kathryn Stockett    2010  4.8      1
25                      Keith Richards    2010  4.5      1
26                    Larry Schweikart    2010  4.6      1
27                   Laura Hillenbrand    2010  4.8      1
28                    Malcolm Gladwell    2010  4.6      1
29                          Mark Twain    2010  4.2      1
30                       Michael Lewis    2010  4.7      1
31                      Michael Pollan    2010  4.4      1
32                    Patrick Lencioni    2010  4.6      1
33                   Peter A. Lillback    2010  4.5      1
34                      Rebecca Skloot    2010  4.7      1
35                        Rick Riordan    2010  4.8      3
36                        Rick Riordan    2010  4.6      1
37                       Robert Jordan    2010  4.8      1
38                     Stephenie Meyer    2010  4.6      1
39                       Stieg Larsson    2010  4.7      2
40                       Stieg Larsson    2010  4.4      1
41                     Suzanne Collins    2010  4.7      2
42                     Suzanne Collins    2010  4.5      1
43                   Tatiana de Rosnay    2010  4.6      1
44                   The College Board    2010  4.4      1
45                          Tony Hsieh    2010  4.6      1

In [393]:
rt3 = amazon.loc[amazon["Year"]==2011,["Year","Author","User Rating"]].groupby("Author",as_index=False).value_counts()
rt3.columns = ["Year","Author","UR3","Count"]
rt3

                                  Year  Author  UR3  Count
0                     Abraham Verghese    2011  4.6      1
1                        Adam Mansbach    2011  4.8      1
2   American Psychological Association    2011  4.5      1
3                          Ann Voskamp    2011  4.6      1
4                        Bill O'Reilly    2011  4.7      1
5                     Charlaine Harris    2011  4.2      1
6                  Christopher Paolini    2011  4.6      1
7                      Daniel Kahneman    2011  4.6      1
8                     Daniel Lipkowitz    2011  4.4      1
9                          David Platt    2011  4.7      1
10                          Doug Lemov    2011  4.4      1
11                         Eric Larson    2011  4.4      1
12                        Francis Chan    2011  4.7      1
13                              Gallup    2011  4.0      1
14                         Garth Stein    2011  4.7      1
15                        Gary Chapman    2011  4.7      1
16                 George R. R. Martin    2011  4.4      1
17                  George R.R. Martin    2011  4.6      1
18                       Heidi Murkoff    2011  4.4      1
19                       Jaycee Dugard    2011  4.6      1
20                         Jeff Kinney    2011  4.8      1
21                         Jim Collins    2011  4.5      1
22                     Joel Fuhrman MD    2011  4.5      1
23                        John Grisham    2011  4.4      1
24                    Kathryn Stockett    2011  4.8      2
25                   Laura Hillenbrand    2011  4.8      1
26                         Mike Moreno    2011  4.3      1
27                    Patrick Lencioni    2011  4.6      1
28                        Paula McLain    2011  4.3      1
29                        Pierre Dukan    2011  4.1      1
30                      Rebecca Skloot    2011  4.7      1
31                        Rick Riordan    2011  4.7      1
32                        Rick Riordan    2011  4.8      1
33                            Rob Bell    2011  4.2      1
34                          Sara Gruen    2011  4.5      1
35                         Sarah Young    2011  4.9      1
36                        Stephen King    2011  4.6      1
37                    Stephen R. Covey    2011  4.6      1
38                       Stieg Larsson    2011  4.7      1
39                     Suzanne Collins    2011  4.7      2
40                     Suzanne Collins    2011  4.5      1
41                     Suzanne Collins    2011  4.8      1
42                   The College Board    2011  4.4      1
43                     Thomas Campbell    2011  4.7      1
44                     Timothy Ferriss    2011  4.3      1
45                            Tina Fey    2011  4.3      1
46                          Todd Burpo    2011  4.7      1
47                     Walter Isaacson    2011  4.6      1

In [394]:
rt4 = amazon.loc[amazon["Year"]==2012,["Year","Author","User Rating"]].groupby("Author",as_index=False).value_counts()
rt4.columns = ["Year","Author","UR4","Count"]
rt4

                                  Year  Author  UR4  Count
0   American Psychological Association    2012  4.5      1
1                          Ann Voskamp    2012  4.6      1
2                        Bill O'Reilly    2012  4.6      1
3                        Bill O'Reilly    2012  4.7      1
4                       Charles Duhigg    2012  4.6      1
5                       Cheryl Strayed    2012  4.4      1
6                      Daniel Kahneman    2012  4.6      1
7                     Daniel Lipkowitz    2012  4.4      1
8                            Dr. Seuss    2012  4.9      1
9                            E L James    2012  4.5      2
10                           E L James    2012  3.8      1
11                           E L James    2012  4.4      1
12                      Eben Alexander    2012  4.3      1
13                        Edward Klein    2012  4.6      1
14                 F. Scott Fitzgerald    2012  4.4      1
15                              Gallup    2012  4.0      1
16                        Gary Chapman    2012  4.7      1
17                  George R.R. Martin    2012  4.6      1
18                       Gillian Flynn    2012  4.0      1
19                          Ina Garten    2012  4.8      1
20                        J.K. Rowling    2012  3.3      1
21                         Jeff Kinney    2012  4.7      1
22                         Jim Collins    2012  4.5      1
23                     Joel Fuhrman MD    2012  4.5      1
24                          John Green    2012  4.7      1
25                        John Grisham    2012  4.3      1
26                         Jon Meacham    2012  4.5      1
27                       Jonathan Cahn    2012  4.6      1
28                         Ken Follett    2012  4.5      1
29                   Laura Hillenbrand    2012  4.8      1
30                     Mark Hyman M.D.    2012  4.2      1
31                           Mark Owen    2012  4.6      1
32                    Patrick Lencioni    2012  4.6      1
33                      Rebecca Skloot    2012  4.7      1
34                        Ree Drummond    2012  4.8      1
35                        Rick Riordan    2012  4.8      2
36                         Sarah Young    2012  4.9      1
37                Sherri Duskey Rinker    2012  4.9      1
38                    Stephen R. Covey    2012  4.6      1
39                          Susan Cain    2012  4.6      1
40                     Suzanne Collins    2012  4.7      2
41                     Suzanne Collins    2012  4.5      1
42                     Suzanne Collins    2012  4.8      1
43                   The College Board    2012  4.4      1
44                          Todd Burpo    2012  4.7      1
45                     Walter Isaacson    2012  4.6      1
46                       William Davis    2012  4.4      1

In [395]:
rt5 = amazon.loc[amazon["Year"]==2013,["Year","Author","User Rating"]].groupby("Author",as_index=False).value_counts()
rt5.columns = ["Year","Author","UR5","Count"]
rt5

                                  Year  Author  UR5  Count
0                          Allie Brosh    2013  4.7      1
1     American Psychiatric Association    2013  4.5      1
2   American Psychological Association    2013  4.5      1
3                        Bill O'Reilly    2013  4.5      1
4                      Brandon Stanton    2013  4.8      1
5                      Brene???? Brown    2013  4.8      1
6                       Brian Kilmeade    2013  4.6      1
7                  Charles Krauthammer    2013  4.7      1
8                            Dan Brown    2013  4.1      1
9                      Don Miguel Ruiz    2013  4.7      1
10                         Donna Tartt    2013  3.9      1
11                           Dr. Seuss    2013  4.9      1
12                        Drew Daywalt    2013  4.8      1
13                           E L James    2013  3.8      1
14                      Eben Alexander    2013  4.3      1
15                          Eric Carle    2013  4.9      1
16                 F. Scott Fitzgerald    2013  4.4      1
17                              Gallup    2013  4.0      1
18                        Gary Chapman    2013  4.7      1
19                  George R.R. Martin    2013  4.6      1
20                       Gillian Flynn    2013  4.0      1
21                          Harper Lee    2013  4.8      1
22                   Ian K. Smith M.D.    2013  4.1      1
23                         Jeff Kinney    2013  4.8      1
24                          John Green    2013  4.7      1
25                        John Grisham    2013  4.5      1
26                     Khaled Hosseini    2013  4.3      1
27                    Malcolm Gladwell    2013  4.4      1
28                        Markus Zusak    2013  4.6      1
29                    Patrick Lencioni    2013  4.6      1
30                      Patrick Thorpe    2013  4.9      1
31                      Phil Robertson    2013  4.8      1
32                       R. J. Palacio    2013  4.8      1
33                        Ree Drummond    2013  4.8      1
34                        Rick Riordan    2013  4.8      1
35                         Rob Elliott    2013  4.5      1
36                         Rob Elliott    2013  4.6      1
37                       Rush Limbaugh    2013  4.9      1
38                         Sarah Young    2013  4.9      1
39                Sherri Duskey Rinker    2013  4.9      1
40                     Sheryl Sandberg    2013  4.5      1
41                        Stephen King    2013  4.5      1
42                        Stephen King    2013  4.7      1
43                    Stephen R. Covey    2013  4.6      1
44                          Susan Cain    2013  4.6      1
45                   The College Board    2013  4.4      1
46                       Veronica Roth    2013  3.9      1
47                       Veronica Roth    2013  4.6      1
48                       William Davis    2013  4.4      1
49                        Zhi Gang Sha    2013  4.6      1

In [396]:
rt6 = amazon.loc[amazon["Year"]==2014,["Year","Author","User Rating"]].groupby("Author",as_index=False).value_counts()
rt6.columns = ["Year","Author","UR6","Count"]
rt6

                                  Year  Author  UR6  Count
0                       Alice Schertle    2014  4.9      1
1     American Psychiatric Association    2014  4.5      1
2   American Psychological Association    2014  4.5      1
3                        Anthony Doerr    2014  4.6      1
4                          B. J. Novak    2014  4.8      1
5                        Bill O'Reilly    2014  4.6      1
6                      Brandon Stanton    2014  4.8      1
7                       Carol S. Dweck    2014  4.6      1
8                Christina Baker Kline    2014  4.6      1
9                                   DK    2014  4.5      1
10                       Dale Carnegie    2014  4.7      1
11                  Daniel James Brown    2014  4.8      1
12                 David Perlmutter MD    2014  4.6      1
13                         Donna Tartt    2014  3.9      1
14                           Dr. Seuss    2014  4.9      1
15                        Drew Daywalt    2014  4.8      1
16                          Eric Carle    2014  4.9      1
17                 F. Scott Fitzgerald    2014  4.4      1
18                              Gallup    2014  4.0      1
19                        Gary Chapman    2014  4.7      1
20                        Gayle Forman    2014  4.3      1
21                 George R. R. Martin    2014  4.7      1
22                       Gillian Flynn    2014  4.0      1
23                          Harper Lee    2014  4.8      1
24                          Ina Garten    2014  4.5      1
25                       James Dashner    2014  4.5      1
26                         Jeff Kinney    2014  4.8      1
27                          John Green    2014  4.7      2
28                          John Green    2014  4.5      1
29                   Laura Hillenbrand    2014  4.8      2
30                        Markus Zusak    2014  4.6      1
31                        Paulo Coelho    2014  4.7      1
32                       R. J. Palacio    2014  4.8      1
33                           RH Disney    2014  4.6      1
34                           RH Disney    2014  4.7      1
35                      Randall Munroe    2014  4.7      1
36                        Rick Riordan    2014  4.8      1
37                         Rob Elliott    2014  4.5      1
38                         Rob Elliott    2014  4.6      1
39                       Robert Munsch    2014  4.8      1
40                        Roger Priddy    2014  4.7      1
41                       Rush Limbaugh    2014  4.9      1
42                         Sarah Young    2014  4.9      1
43                   The College Board    2014  4.4      1
44                      Thomas Piketty    2014  4.5      1
45                        Thug Kitchen    2014  4.6      1
46                       Veronica Roth    2014  4.5      1
47                       Veronica Roth    2014  4.6      1

In [397]:
rt7 = amazon.loc[amazon["Year"]==2015,["Year","Author","User Rating"]].groupby("Author",as_index=False).value_counts()
rt7.columns = ["Year","Author","UR7","Count"]
rt7

                                  Year  Author  UR7  Count
0   American Psychological Association    2015  4.5      1
1                            Andy Weir    2015  4.7      1
2                          Angie Grace    2015  4.6      1
3                        Anthony Doerr    2015  4.6      1
4                         Atul Gawande    2015  4.8      1
5                          B. J. Novak    2015  4.8      1
6                        Bill O'Reilly    2015  4.6      1
7                   Blue Star Coloring    2015  4.4      1
8                   Blue Star Coloring    2015  4.6      1
9                      Brandon Stanton    2015  4.9      1
10                      Carol S. Dweck    2015  4.6      1
11                          Chris Kyle    2015  4.6      1
12           Coloring Books for Adults    2015  4.5      1
13                                  DK    2015  4.6      1
14                       Dale Carnegie    2015  4.7      1
15                  Daniel James Brown    2015  4.8      1
16                    David McCullough    2015  4.7      1
17                     Don Miguel Ruiz    2015  4.7      1
18                           Dr. Seuss    2015  4.7      1
19                           Dr. Seuss    2015  4.9      1
20                        Drew Daywalt    2015  4.8      1
21                           E L James    2015  4.4      1
22                          Eric Carle    2015  4.9      1
23                              Gallup    2015  4.0      1
24                        Gary Chapman    2015  4.8      1
25                       Giles Andreae    2015  4.8      1
26                          Harper Lee    2015  3.6      1
27                          Harper Lee    2015  4.8      1
28                         Jeff Kinney    2015  4.8      1
29                     Johanna Basford    2015  4.7      2
30                      Kristin Hannah    2015  4.8      1
31                      Marie Kond????    2015  4.5      1
32                     Marjorie Sarnat    2015  4.8      2
33                         Marty Noble    2015  4.6      1
34               Melissa Hartwig Urban    2015  4.6      1
35                       Paula Hawkins    2015  4.1      1
36                       R. J. Palacio    2015  4.8      1
37                        Ree Drummond    2015  4.8      1
38                         Rob Elliott    2015  4.5      1
39                         Rob Elliott    2015  4.6      1
40                       Robert Munsch    2015  4.8      1
41                        Rod Campbell    2015  4.8      1
42                        Roger Priddy    2015  4.7      1
43                         Sarah Young    2015  4.9      1
44                          Scholastic    2015  4.7      1
45                    Stephen R. Covey    2015  4.7      1
46                    Ta-Nehisi Coates    2015  4.7      1
47                        Thug Kitchen    2015  4.6      1

In [398]:
rt8 = amazon.loc[amazon["Year"]==2016,["Year","Author","User Rating"]].groupby("Author",as_index=False).value_counts()
rt8.columns = ["Year","Author","UR8","Count"]
rt8

                                    Year  Author  UR8  Count
0            Adult Coloring Book Designs    2016  4.5      1
1     American Psychological Association    2016  4.5      1
2                          Bill O'Reilly    2016  4.8      1
3                      Bruce Springsteen    2016  4.7      1
4                         Carol S. Dweck    2016  4.6      1
5                            Chip Gaines    2016  4.9      1
6                         Chrissy Teigen    2016  4.7      1
7                          Dale Carnegie    2016  4.7      1
8   Delegates of the Constitutional???€?    2016  4.8      1
9                        Don Miguel Ruiz    2016  4.7      1
10                             Dr. Seuss    2016  4.9      1
11                           Elie Wiesel    2016  4.7      1
12                 Emily Winfield Martin    2016  4.9      1
13                            Eric Carle    2016  4.9      1
14                       Fredrik Backman    2016  4.6      1
15                                Gallup    2016  4.0      1
16                          Gary Chapman    2016  4.8      1
17                         Giles Andreae    2016  4.8      1
18                            Harper Lee    2016  4.8      1
19                           J. D. Vance    2016  4.4      1
20                         J. K. Rowling    2016  4.8      1
21                          J.K. Rowling    2016  4.9      2
22                          J.K. Rowling    2016  4.7      1
23                          J.K. Rowling    2016  4.0      1
24                              JJ Smith    2016  4.7      1
25                           Jeff Kinney    2016  4.8      1
26                           Jen Sincero    2016  4.7      1
27                        Kristin Hannah    2016  4.8      1
28                    Lin-Manuel Miranda    2016  4.9      1
29                        Lysa TerKeurst    2016  4.7      1
30                        Marie Kond????    2016  4.5      1
31                 Melissa Hartwig Urban    2016  4.6      1
32                        Paul Kalanithi    2016  4.8      1
33                         Paula Hawkins    2016  4.1      1
34                         R. J. Palacio    2016  4.8      1
35                          Ray Bradbury    2016  4.6      1
36                           Rob Elliott    2016  4.6      1
37                          Rod Campbell    2016  4.8      1
38                          Roger Priddy    2016  4.7      1
39                           Ron Chernow    2016  4.8      1
40                             Rupi Kaur    2016  4.7      1
41                        Sandra Boynton    2016  4.8      1
42                           Sarah Young    2016  4.9      1
43                          Sasha O'Hara    2016  4.6      1
44                            Scholastic    2016  4.7      1
45                      Stephen R. Covey    2016  4.7      1
46                      Ta-Nehisi Coates    2016  4.7      1
47                     The College Board    2016  4.3      1
48                          Thug Kitchen    2016  4.6      1

In [399]:
rt9 = amazon.loc[amazon["Year"]==2017,["Year","Author","User Rating"]].groupby("Author",as_index=False).value_counts()
rt9.columns = ["Year","Author","UR9","Count"]
rt9

                                  Year  Author  UR9  Count
0                       Adam Gasiewski    2017  4.4      1
1           Admiral William H. McRaven    2017  4.7      1
2   American Psychological Association    2017  4.5      1
3                          Amor Towles    2017  4.7      1
4                    Ann Whitford Paul    2017  4.8      1
5                      Bill Martin Jr.    2017  4.9      1
6                        Dale Carnegie    2017  4.7      1
7                            Dan Brown    2017  4.3      1
8                           Dav Pilkey    2017  4.9      1
9                          David Grann    2017  4.6      1
10                      Deborah Diesen    2017  4.8      1
11                     Don Miguel Ruiz    2017  4.7      1
12                           Dr. Seuss    2017  4.9      1
13               Emily Winfield Martin    2017  4.9      1
14                          Eric Carle    2017  4.9      1
15                        Ernest Cline    2017  4.6      1
16                     Fredrik Backman    2017  4.6      1
17                              Gallup    2017  4.0      1
18                        Gary Chapman    2017  4.8      1
19                       George Orwell    2017  4.7      1
20                       Giles Andreae    2017  4.8      1
21                        Golden Books    2017  4.8      1
22              Hillary Rodham Clinton    2017  4.6      1
23                         J. D. Vance    2017  4.4      1
24                        J.K. Rowling    2017  4.9      1
25                           Jay Asher    2017  4.5      1
26                         Jeff Kinney    2017  4.8      1
27                         Jen Sincero    2017  4.7      1
28                     Laurel Randolph    2017  4.3      1
29                     Margaret Atwood    2017  4.3      1
30                 Margaret Wise Brown    2017  4.8      1
31                      Marie Kond????    2017  4.5      1
32                         Mark Manson    2017  4.6      1
33               Melissa Hartwig Urban    2017  4.6      1
34                 Neil deGrasse Tyson    2017  4.7      1
35                          Pete Souza    2017  4.9      1
36                       R. J. Palacio    2017  4.8      1
37                         Rob Elliott    2017  4.6      1
38                        Rod Campbell    2017  4.8      1
39                        Roger Priddy    2017  4.7      1
40                           Rupi Kaur    2017  4.7      2
41                      Sandra Boynton    2017  4.8      1
42                     Sheryl Sandberg    2017  4.5      1
43                    Stephen R. Covey    2017  4.7      1
44                        Thug Kitchen    2017  4.6      1
45                     Timothy Ferriss    2017  4.6      1
46                     Walter Isaacson    2017  4.5      1
47                    William P. Young    2017  4.6      1
48                    Wizards RPG Team    2017  4.8      1

In [400]:
rt10 = amazon.loc[amazon["Year"]==2018,["Year","Author","User Rating"]].groupby("Author",as_index=False).value_counts()
rt10.columns = ["Year","Author","UR10","Count"]
rt10

                                    Year  Author  UR10  Count
0     American Psychological Association    2018   4.5      1
1                              Amy Ramos    2018   4.3      1
2                           Angie Thomas    2018   4.8      1
3                       Anthony Bourdain    2018   4.8      1
4                           Bob Woodward    2018   4.4      1
5                             Celeste Ng    2018   4.5      1
6                            Craig Smith    2018   4.8      1
7                          Dale Carnegie    2018   4.7      1
8                             Dav Pilkey    2018   4.9      3
9                         Deborah Diesen    2018   4.8      1
10                       Don Miguel Ruiz    2018   4.7      1
11                             Dr. Seuss    2018   4.9      1
12                Dr. Steven R Gundry MD    2018   4.4      1
13                Dr. Steven R Gundry MD    2018   4.5      1
14                 Emily Winfield Martin    2018   4.9      1
15                            Eric Carle    2018   4.9      1
16                          Ernest Cline    2018   4.6      1
17                          Gary Chapman    2018   4.8      1
18                         Giles Andreae    2018   4.8      1
19                           James Comey    2018   4.7      1
20                       James Patterson    2018   4.3      1
21                           Jeff Kinney    2018   4.8      1
22                           Jen Sincero    2018   4.7      1
23                        Jennifer Smith    2018   4.4      1
24                            Jill Twiss    2018   4.9      1
25                         Joanna Gaines    2018   4.8      2
26                    Jordan B. Peterson    2018   4.7      1
27                            Kevin Kwan    2018   4.3      1
28                       Laurel Randolph    2018   4.3      1
29                     Madeleine L'Engle    2018   4.5      1
30                   Margaret Wise Brown    2018   4.8      1
31                           Mark Manson    2018   4.6      1
32                         Michael Wolff    2018   4.2      1
33                        Michelle Obama    2018   4.8      1
34                       Naomi Kleinberg    2018   4.7      1
35                     Paper Peony Press    2018   4.4      1
36                         Rachel Hollis    2018   4.6      1
37                          Ray Bradbury    2018   4.6      1
38                          Rod Campbell    2018   4.8      1
39                          Roger Priddy    2018   4.7      1
40                             Rupi Kaur    2018   4.7      1
41                          Samin Nosrat    2018   4.8      1
42                           School Zone    2018   4.8      1
43                         Tara Westover    2018   4.7      1
44  The Staff of The Late Show with???€?    2018   4.6      1
45                        Tucker Carlson    2018   4.8      1
46                      Wizards RPG Team    2018   4.8      1

In [401]:
rt11 = amazon.loc[amazon["Year"]==2019,["Year","Author","User Rating"]].groupby("Author",as_index=False).value_counts()
rt11.columns = ["Year","Author","UR11","Count"]
rt11

                        Year  Author  UR11  Count
0                  Adir Levy    2019   4.8      1
1           Alex Michaelides    2019   4.5      1
2                  Amy Ramos    2019   4.3      1
3                Amy Shields    2019   4.8      1
4          Ann Whitford Paul    2019   4.8      1
5   Bessel van der Kolk M.D.    2019   4.8      1
6            Bill Martin Jr.    2019   4.9      1
7                Craig Smith    2019   4.8      1
8              Crispin Boyer    2019   4.8      1
9                 Dav Pilkey    2019   4.9      3
10               Dave Ramsey    2019   4.7      1
11             David Goggins    2019   4.8      1
12               Delia Owens    2019   4.8      1
13             Dinah Bucholz    2019   4.7      1
14           Don Miguel Ruiz    2019   4.7      1
15                 Dr. Seuss    2019   4.9      1
16     Emily Winfield Martin    2019   4.9      1
17                Eric Carle    2019   4.9      1
18              Gary Chapman    2019   4.8      1
19             Giles Andreae    2019   4.8      1
20                Harper Lee    2019   4.8      1
21           Hopscotch Girls    2019   4.8      1
22              Howard Stern    2019   4.3      1
23             J. K. Rowling    2019   4.9      1
24               Jeff Kinney    2019   4.9      1
25               Jen Sincero    2019   4.7      1
26            Jennifer Smith    2019   4.4      1
27              John Grisham    2019   4.5      1
28            Lysa TerKeurst    2019   4.8      1
29             M Prefontaine    2019   4.6      1
30       Margaret Wise Brown    2019   4.8      1
31            Marie Kond????    2019   4.5      1
32               Mark Manson    2019   4.6      1
33             Mark R. Levin    2019   4.9      1
34            Michelle Obama    2019   4.8      1
35           Naomi Kleinberg    2019   4.7      1
36            Nathan W. Pyle    2019   4.9      1
37  National Geographic Kids    2019   4.8      1
38       Pretty Simple Press    2019   4.6      1
39             Rachel Hollis    2019   4.6      2
40          Raina Telgemeier    2019   4.8      1
41              Samin Nosrat    2019   4.8      1
42               School Zone    2019   4.8      1
43                Silly Bear    2019   4.8      1
44             Tara Westover    2019   4.7      1
45       The Washington Post    2019   4.6      1
46          Wizards RPG Team    2019   4.8      1

In [402]:
rt12 = amazon.loc[amazon["Year"]==2020,["Year","Author","User Rating"]].groupby("Author",as_index=False).value_counts()
rt12.columns = ["Year","Author","UR12","Count"]
rt12

                        Year  Author  UR12  Count
0               Adam Wallace    2020   4.8      2
1                  Adir Levy    2020   4.8      1
2           Alex Michaelides    2020   4.5      1
3            Amelia Hepworth    2020   4.9      1
4          Ann Whitford Paul    2020   4.5      1
5               Barack Obama    2020   4.9      1
6   Bessel van der Kolk M.D.    2020   4.8      1
7            Bill Martin Jr.    2020   4.9      2
8               Bob Woodward    2020   4.7      1
9               Brit Bennett    2020   4.4      1
10           Carole P. Roman    2020   4.7      1
11                Celeste Ng    2020   4.5      1
12           Charlie Mackesy    2020   4.9      1
13             Conor Riordan    2020   4.0      1
14               Craig Smith    2020   4.8      1
15             Crystal Radke    2020   4.8      1
16                Dav Pilkey    2020   4.9      1
17               Delia Owens    2020   4.8      1
18           Don Miguel Ruiz    2020   4.7      1
19                Eric Carle    2020   4.9      1
20               Erik Larson    2020   4.7      1
21              Gary Chapman    2020   4.8      1
22             Giles Andreae    2020   4.8      1
23             Glennon Doyle    2020   4.8      1
24           Hopscotch Girls    2020   4.8      1
25            Ibram X. Kendi    2020   4.8      1
26                Ina Garten    2020   4.8      1
27          Isabel Wilkerson    2020   4.8      1
28               James Clear    2020   4.8      1
29           Jeanine Cummins    2020   4.6      1
30               Jeff Kinney    2020   4.9      1
31              Jennie Allen    2020   4.7      1
32             Joanna Gaines    2020   4.9      1
33               John Bolton    2020   4.3      1
34              Katie Stokes    2020   4.7      1
35       Mary L. Trump Ph.D.    2020   4.6      1
36       Matthew McConaughey    2020   4.7      1
37            Michelle Obama    2020   4.8      1
38            Robin DiAngelo    2020   4.3      1
39               School Zone    2020   4.8      1
40              Sean Hannity    2020   4.8      1
41           Shannon Roberts    2020   4.8      1
42              Sharon Jones    2020   4.6      1
43           Stephenie Meyer    2020   4.8      1
44           Suzanne Collins    2020   4.7      1
45             Tara Westover    2020   4.7      1
46        Workman Publishing    2020   4.8      2

In [403]:
amazon_ur = pd.concat([rt1,rt2,rt3,rt4,rt5,rt6,rt7,rt8,rt9,rt10,rt11,rt12],sort=False)

In [407]:
amazon_ur.loc[:,["Year","Author","UR1","UR2","UR3","UR4","UR5","UR6","UR7","UR8","UR9","UR10","UR11","UR12"]]

,Year,Author,UR1,UR2,UR3,UR4,UR5,UR6,UR7,UR8,UR9,UR10,UR11,UR12
0,Alan Moore,2009,4.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,American Psychological Association,2009,4.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Audrey Niffenegger,2009,4.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bill Simmons,2009,4.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Charlaine Harris,2009,4.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42,Sharon Jones,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.6
43,Stephenie Meyer,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.8
44,Suzanne Collins,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.7
45,Tara Westover,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.7
46,Workman Publishing,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.8

Cuales son los libros que por año se encuentran arriba del percentil 70. (Sin importar genero)

Ejemplo de salida esperada

In [26]:
pd.DataFrame({
    "Year": [2010,2010,2011,2011]
    , "Titulos": ["Libro A","Libro B","Libro Z","Libro Y"]
    , "Autor": ["Autor 1","Autor 2","Autor 1","Autor 3"]
    , "Rating": [4.1, 4.0,4.2,4.3]
    , "Rating .70": [3.8,3.8,3.7,3.7]
})

   Year  Titulos    Autor  Rating  Rating .70
0  2010  Libro A  Autor 1     4.1         3.8
1  2010  Libro B  Autor 2     4.0         3.8
2  2011  Libro Z  Autor 1     4.2         3.7
3  2011  Libro Y  Autor 3     4.3         3.7

Este ejemplo es para que se haga una idea de la estructura de salida esperada, claramente por año dependiendo de las publicaciones pueden haber varios libros arriba del percentil 70

In [273]:
import numpy as np

In [289]:
libros09 = amazon.loc[amazon["Year"] == 2009,"User Rating"]
p1 = np.quantile(libros09,0.7)
print("Percentil 70 del 2009:", p1)
tot09 = amazon.loc[(amazon["User Rating"] > p1) & (amazon["Year"] == 2009), ["Year","Name","Author","User Rating"]]
tot09

Percentil 70 del 2009: 4.7

,Year,Name,Author,User Rating
90,2009,Diary of a Wimpy Kid: The Last Straw (Book 3),Jeff Kinney,4.8
98,2009,"Dog Days (Diary of a Wimpy Kid, Book 4) (Volum...",Jeff Kinney,4.8
188,2009,Have a Little Faith: A True Story,Mitch Albom,4.8
257,2009,Liberty and Tyranny: A Conservative Manifesto,Mark R. Levin,4.8
272,2009,"Mastering the Art of French Cooking, Vol. 2",Julia Child,4.8
394,2009,The 5000 Year Leap,W. Cleon Skousen,4.8
477,2009,The Help,Kathryn Stockett,4.8
494,2009,The Last Olympian (Percy Jackson and the Olymp...,Rick Riordan,4.8
507,2009,The Love Dare,Stephen Kendrick,4.8
620,2009,Watchmen,Alan Moore,4.8
634,2009,Where the Wild Things Are,Maurice Sendak,4.8

In [288]:
libros10 = amazon.loc[amazon["Year"] == 2010,"User Rating"]
p1 = np.quantile(libros10,0.7)
print("Percentil 70 del 2010:", p1)
tot10 = amazon.loc[(amazon["User Rating"] > p1) & (amazon["Year"] == 2010), ["Year","Name","Author","User Rating"]]
tot10

Percentil 70 del 2010: 4.7

,Year,Name,Author,User Rating
317,2010,Percy Jackson and the Olympians Paperback Boxe...,Rick Riordan,4.8
478,2010,The Help,Kathryn Stockett,4.8
495,2010,The Last Olympian (Percy Jackson and the Olymp...,Rick Riordan,4.8
505,2010,"The Lost Hero (Heroes of Olympus, Book 1)",Rick Riordan,4.8
560,2010,"The Ugly Truth (Diary of a Wimpy Kid, Book 5)",Jeff Kinney,4.8
604,2010,"Towers of Midnight (Wheel of Time, Book Thirteen)",Robert Jordan,4.8
608,2010,"Unbroken: A World War II Story of Survival, Re...",Laura Hillenbrand,4.8

In [287]:
libros11 = amazon.loc[amazon["Year"] == 2011,"User Rating"]
p1 = np.quantile(libros11,0.7)
print("Percentil 70 del 2011:", p1)
tot11 = amazon.loc[(amazon["User Rating"] > p1) & (amazon["Year"]==2011), ["Year","Name","Author","User Rating"]]
tot11

Percentil 70 del 2011: 4.7

,Year,Name,Author,User Rating
55,2011,"Cabin Fever (Diary of a Wimpy Kid, Book 6)",Jeff Kinney,4.8
158,2011,Go the F**k to Sleep,Adam Mansbach,4.8
228,2011,Jesus Calling: Enjoying Peace in His Presence ...,Sarah Young,4.9
479,2011,The Help,Kathryn Stockett,4.8
480,2011,The Help,Kathryn Stockett,4.8
486,2011,The Hunger Games Trilogy Boxed Set (1),Suzanne Collins,4.8
545,2011,"The Son of Neptune (Heroes of Olympus, Book 2)",Rick Riordan,4.8
609,2011,"Unbroken: A World War II Story of Survival, Re...",Laura Hillenbrand,4.8

In [290]:
libros12 = amazon.loc[amazon["Year"] == 2012,"User Rating"]
p1 = np.quantile(libros11,0.7)
print("Percentil 70 del 2012:", p1)
tot12 = amazon.loc[(amazon["User Rating"] > p1) & (amazon["Year"]==2012), ["Year","Name","Author","User Rating"]]
tot12

Percentil 70 del 2012: 4.7

,Year,Name,Author,User Rating
37,2012,Barefoot Contessa Foolproof: Recipes You Can T...,Ina Garten,4.8
171,2012,"Goodnight, Goodnight Construction Site (Hardco...",Sherri Duskey Rinker,4.9
229,2012,Jesus Calling: Enjoying Peace in His Presence ...,Sarah Young,4.9
294,2012,"Oh, the Places You'll Go!",Dr. Seuss,4.9
487,2012,The Hunger Games Trilogy Boxed Set (1),Suzanne Collins,4.8
509,2012,"The Mark of Athena (Heroes of Olympus, Book 3)",Rick Riordan,4.8
526,2012,The Pioneer Woman Cooks: Food from My Frontier,Ree Drummond,4.8
538,2012,"The Serpent's Shadow (The Kane Chronicles, Boo...",Rick Riordan,4.8
610,2012,"Unbroken: A World War II Story of Survival, Re...",Laura Hillenbrand,4.8

In [291]:
libros13 = amazon.loc[amazon["Year"] == 2013,"User Rating"]
p1 = np.quantile(libros11,0.7)
print("Percentil 70 del 2013:", p1)
tot13 = amazon.loc[(amazon["User Rating"] > p1) & (amazon["Year"]==2013), ["Year","Name","Author","User Rating"]]
tot13

Percentil 70 del 2013: 4.7

,Year,Name,Author,User Rating
76,2013,Daring Greatly: How the Courage to Be Vulnerab...,Brene???? Brown,4.8
89,2013,"Diary of a Wimpy Kid: Hard Luck, Book 8",Jeff Kinney,4.8
172,2013,"Goodnight, Goodnight Construction Site (Hardco...",Sherri Duskey Rinker,4.9
180,2013,"Happy, Happy, Happy: My Life and Legacy as the...",Phil Robertson,4.8
206,2013,Humans of New York,Brandon Stanton,4.8
230,2013,Jesus Calling: Enjoying Peace in His Presence ...,Sarah Young,4.9
295,2013,"Oh, the Places You'll Go!",Dr. Seuss,4.9
346,2013,Rush Revere and the Brave Pilgrims: Time-Trave...,Rush Limbaugh,4.9
431,2013,The Day the Crayons Quit,Drew Daywalt,4.8
482,2013,"The House of Hades (Heroes of Olympus, Book 4)",Rick Riordan,4.8
497,2013,The Legend of Zelda: Hyrule Historia,Patrick Thorpe,4.9
524,2013,The Pioneer Woman Cooks: A Year of Holidays: 1...,Ree Drummond,4.8
563,2013,The Very Hungry Caterpillar,Eric Carle,4.9
597,2013,To Kill a Mockingbird,Harper Lee,4.8
640,2013,Wonder,R. J. Palacio,4.8

In [292]:
libros14 = amazon.loc[amazon["Year"] == 2014,"User Rating"]
p1 = np.quantile(libros14,0.7)
print("Percentil 70 del 2014:", p1)
tot14 = amazon.loc[(amazon["User Rating"] > p1) & (amazon["Year"]==2014), ["Year","Name","Author","User Rating"]]
tot14

Percentil 70 del 2014: 4.8

,Year,Name,Author,User Rating
231,2014,Jesus Calling: Enjoying Peace in His Presence ...,Sarah Young,4.9
260,2014,Little Blue Truck,Alice Schertle,4.9
296,2014,"Oh, the Places You'll Go!",Dr. Seuss,4.9
347,2014,Rush Revere and the First Patriots: Time-Trave...,Rush Limbaugh,4.9
564,2014,The Very Hungry Caterpillar,Eric Carle,4.9

In [293]:
libros15 = amazon.loc[amazon["Year"] == 2015,"User Rating"]
p1 = np.quantile(libros15,0.7)
print("Percentil 70 del 2015:", p1)
tot15 = amazon.loc[(amazon["User Rating"] > p1) & (amazon["Year"]==2015), ["Year","Name","Author","User Rating"]]
tot15

Percentil 70 del 2015: 4.8

,Year,Name,Author,User Rating
208,2015,Humans of New York : Stories,Brandon Stanton,4.9
232,2015,Jesus Calling: Enjoying Peace in His Presence ...,Sarah Young,4.9
297,2015,"Oh, the Places You'll Go!",Dr. Seuss,4.9
565,2015,The Very Hungry Caterpillar,Eric Carle,4.9

In [294]:
libros16 = amazon.loc[amazon["Year"] == 2016,"User Rating"]
p1 = np.quantile(libros16,0.7)
print("Percentil 70 del 2016:", p1)
tot16 = amazon.loc[(amazon["User Rating"] > p1) & (amazon["Year"]==2016), ["Year","Name","Author","User Rating"]]
tot16

Percentil 70 del 2016: 4.8

,Year,Name,Author,User Rating
179,2016,Hamilton: The Revolution,Lin-Manuel Miranda,4.9
181,2016,Harry Potter and the Chamber of Secrets: The I...,J.K. Rowling,4.9
185,2016,Harry Potter and the Sorcerer's Stone: The Ill...,J.K. Rowling,4.9
233,2016,Jesus Calling: Enjoying Peace in His Presence ...,Sarah Young,4.9
298,2016,"Oh, the Places You'll Go!",Dr. Seuss,4.9
508,2016,The Magnolia Story,Chip Gaines,4.9
566,2016,The Very Hungry Caterpillar,Eric Carle,4.9
575,2016,The Wonderful Things You Will Be,Emily Winfield Martin,4.9

In [295]:
libros17 = amazon.loc[amazon["Year"] == 2017,"User Rating"]
p1 = np.quantile(libros17,0.7)
print("Percentil 70 del 2017:", p1)
tot17 = amazon.loc[(amazon["User Rating"] > p1) & (amazon["Year"]==2017), ["Year","Name","Author","User Rating"]]
tot17

Percentil 70 del 2017: 4.8

,Year,Name,Author,User Rating
49,2017,"Brown Bear, Brown Bear, What Do You See?",Bill Martin Jr.,4.9
100,2017,Dog Man: A Tale of Two Kitties: From the Creat...,Dav Pilkey,4.9
184,2017,Harry Potter and the Prisoner of Azkaban: The ...,J.K. Rowling,4.9
293,2017,Obama: An Intimate Portrait,Pete Souza,4.9
299,2017,"Oh, the Places You'll Go!",Dr. Seuss,4.9
567,2017,The Very Hungry Caterpillar,Eric Carle,4.9
576,2017,The Wonderful Things You Will Be,Emily Winfield Martin,4.9

In [296]:
libros18 = amazon.loc[amazon["Year"] == 2018,"User Rating"]
p1 = np.quantile(libros17,0.7)
print("Percentil 70 del 2018:", p1)
tot18 = amazon.loc[(amazon["User Rating"] > p1) & (amazon["Year"]==2018), ["Year","Name","Author","User Rating"]]
tot18

Percentil 70 del 2018: 4.8

,Year,Name,Author,User Rating
99,2018,Dog Man and Cat Kid: From the Creator of Capta...,Dav Pilkey,4.9
101,2018,Dog Man: Brawl of the Wild: From the Creator o...,Dav Pilkey,4.9
106,2018,Dog Man: Lord of the Fleas: From the Creator o...,Dav Pilkey,4.9
248,2018,Last Week Tonight with John Oliver Presents A ...,Jill Twiss,4.9
300,2018,"Oh, the Places You'll Go!",Dr. Seuss,4.9
568,2018,The Very Hungry Caterpillar,Eric Carle,4.9
577,2018,The Wonderful Things You Will Be,Emily Winfield Martin,4.9

In [297]:
libros19 = amazon.loc[amazon["Year"] == 2019,"User Rating"]
p1 = np.quantile(libros19,0.7)
print("Percentil 70 del 2019:", p1)
tot19 = amazon.loc[(amazon["User Rating"] > p1) & (amazon["Year"]==2019), ["Year","Name","Author","User Rating"]]
tot19

Percentil 70 del 2019: 4.8

,Year,Name,Author,User Rating
50,2019,"Brown Bear, Brown Bear, What Do You See?",Bill Martin Jr.,4.9
102,2019,Dog Man: Brawl of the Wild: From the Creator o...,Dav Pilkey,4.9
103,2019,Dog Man: Fetch-22: From the Creator of Captain...,Dav Pilkey,4.9
104,2019,Dog Man: For Whom the Ball Rolls: From the Cre...,Dav Pilkey,4.9
183,2019,Harry Potter and the Goblet of Fire: The Illus...,J. K. Rowling,4.9
301,2019,"Oh, the Places You'll Go!",Dr. Seuss,4.9
364,2019,Strange Planet (Strange Planet Series),Nathan W. Pyle,4.9
569,2019,The Very Hungry Caterpillar,Eric Carle,4.9
578,2019,The Wonderful Things You Will Be,Emily Winfield Martin,4.9
614,2019,Unfreedom of the Press,Mark R. Levin,4.9
645,2019,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9

In [298]:
libros20 = amazon.loc[amazon["Year"] == 2020,"User Rating"]
p1 = np.quantile(libros11,0.7)
print("Percentil 70 del 2011:", p1)
tot20 = amazon.loc[(amazon["User Rating"] > p1) & (amazon["Year"]==2020), ["Year","Name","Author","User Rating"]]
tot20

Percentil 70 del 2011: 4.7

,Year,Name,Author,User Rating
13,2020,A Promised Land,Barack Obama,4.9
32,2020,Atomic Habits: An Easy & Proven Way to Build G...,James Clear,4.8
41,2020,Becoming,Michelle Obama,4.8
51,2020,"Brown Bear, Brown Bear, What Do You See?",Bill Martin Jr.,4.9
60,2020,Caste (Oprah's Book Club): The Origins of Our ...,Isabel Wilkerson,4.8
65,2020,Chicka Chicka Boom Boom,Bill Martin Jr.,4.9
105,2020,Dog Man: Grime and Punishment,Dav Pilkey,4.9
151,2020,Giraffes Can't Dance,Giles Andreae,4.8
194,2020,How to Be an Antiracist,Ibram X. Kendi,4.8
195,2020,How to Catch a Mermaid,Adam Wallace,4.8
197,2020,How to Catch a Unicorn,Adam Wallace,4.8
211,2020,"I Am Confident, Brave & Beautiful: A Coloring ...",Hopscotch Girls,4.8
213,2020,I Love You to the Moon and Back,Amelia Hepworth,4.9
263,2020,Live Free Or Die: America (and the World) on t...,Sean Hannity,4.8
268,2020,"Magnolia Table, Volume 2",Joanna Gaines,4.9
273,2020,Midnight Sun,Stephenie Meyer,4.8
284,2020,Modern Comfort Food: A Barefoot Contessa Cookbook,Ina Garten,4.8
285,2020,My First Learn to Write Workbook,Crystal Radke,4.8
314,2020,Paint by Sticker Kids: Unicorns & Magic: Creat...,Workman Publishing,4.8
315,2020,Paint by Sticker Kids: Zoo Animals: Create 10 ...,Workman Publishing,4.8
323,2020,"Prayer Journal for Women: 52 Week Scripture, D...",Shannon Roberts,4.8
351,2020,School Zone,School Zone,4.8
392,2020,The 5 Love Languages: The Secret to Love that ...,Gary Chapman,4.8
413,2020,"The Body Keeps the Score: Brain, Mind, and Bod...",Bessel van der Kolk M.D.,4.8
420,2020,"The Boy, the Mole, the Fox and the Horse",Charlie Mackesy,4.9
434,2020,The Deep End (Diary of a Wimpy Kid Book 15),Jeff Kinney,4.9
570,2020,The Very Hungry Caterpillar,Eric Carle,4.9
582,2020,The Wonky Donkey,Craig Smith,4.8
617,2020,Untamed,Glennon Doyle,4.8
626,2020,What Should Danny Do?,Adir Levy,4.8
633,2020,Where the Crawdads Sing,Delia Owens,4.8

In [299]:
libros21 = amazon.loc[amazon["Year"] == 2021,"User Rating"]
p1 = np.quantile(libros21,0.7)
print("Percentil 70 del 2021:", p1)
tot21 = amazon.loc[(amazon["User Rating"] > p1) & (amazon["Year"]==2021), ["Year","Name","Author","User Rating"]]
tot11

Percentil 70 del 2021: 4.8

,Year,Name,Author,User Rating
55,2011,"Cabin Fever (Diary of a Wimpy Kid, Book 6)",Jeff Kinney,4.8
158,2011,Go the F**k to Sleep,Adam Mansbach,4.8
228,2011,Jesus Calling: Enjoying Peace in His Presence ...,Sarah Young,4.9
479,2011,The Help,Kathryn Stockett,4.8
480,2011,The Help,Kathryn Stockett,4.8
486,2011,The Hunger Games Trilogy Boxed Set (1),Suzanne Collins,4.8
545,2011,"The Son of Neptune (Heroes of Olympus, Book 2)",Rick Riordan,4.8
609,2011,"Unbroken: A World War II Story of Survival, Re...",Laura Hillenbrand,4.8